.forgot-left {
    -fx-background-color: #fff0f5;
    -fx-padding: 80px;
}

.title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #D81B60;
}

.input-field {
    -fx-pref-width: 280px;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-background-color: #f8d2e3;
    -fx-text-fill: #333;
    -fx-border-color: transparent;
}

.reset-button {
    -fx-background-color: #D81B60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 30px;
    -fx-padding: 8px 16px;
}
